<div class="d-flex justify-content-between" style="width: 100%;" >
<div  style="margin-left: 2%; box-shadow: #3460ac; color: #101828; font-size: 30px; font-family: Inter; font-weight: 600; line-height: 38px; word-wrap: break-word;">All Vets</div>


<div class="d-flex justify-content-end" style="margin-left: 8%;">
    <div style=" width: 80px; height: 35px; padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; background: white; box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); border-radius: 8px; overflow: hidden; border: 1px #D0D5DD solid; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
        <div style="width: 20px; height: 20px; padding-left: 2.50px; padding-right: 2.50px; padding-top: 5px; padding-bottom: 5px; justify-content: center; align-items: center; display: flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
              </svg>
        </div>
        <div style="color: #344054; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Filters</div>
    </div>
    &nbsp;
    
      <div style="border-radius: 8px; width: 300px; height: 44px;">
        <input type="search" list="datalistOpt" class="form-control" placeholder="🔍  Search Vets ">
        <datalist id="datalistOpt" style="background-color: aliceblue;">
          <option value="John Doe">
          <option value="William Smith">
          <option value="Sally Doe">
          <option value="Phoenix Baker">
          <option value="Olivia Rhye">
        </datalist>
      </div>
    </div>
</div>

<hr style="width: 1200px; margin-left: 2%;">

<div>
  <div style="

  position: absolute;
  width: 186px;
  height: 38px;
  left: 230px;
  top: 180px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  
  color: #475467;
  
  "> High Rated Vets </div>
</div>
<br><br>
<hr style="width: 1200px; margin-left: 2%;">

<div class="row row-cols-1 row-cols-md-4" style="margin: 16px; margin-top: 2%;">
  <div  *ngFor = "let items of HighRatedVets" class="col" >
      <div class="card" style="margin-bottom:16px;">
          <div class="card-body" style="padding: 16px; background-color: aliceblue;" routerLink="/prof">
              <div style=" justify-content: flex-start; align-items: center; display: inline-flex; gap: 16px;">
                  <img style="width: 100px; height: 100px; border-radius: 9999px" src={{items.url}} />
                  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start;gap: 16px; display: inline-flex">
                    <div><span style="color: #101828; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">{{items.name}}<br/></span><span style="color: #475467; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{items.title}}</span></div>
                    <div style="color: #475467; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mobile : <span style="font-size: 16px; font-family: Inter; font-weight: 600;color: #101828;">+{{items.number}} </span> </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>

<div>
  <div style="

  position: absolute;
  width: 186px;
  height: 38px;
  left: 230px;
  top: 430px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  
  color: #475467;
  
  "> All Vets </div>
</div>
<br><br>
<hr style="width: 1200px; margin-left: 2%;">

<div class="row row-cols-1 row-cols-md-4" style="margin: 16px; margin-top: 2%;">
  <div  *ngFor = "let items of AllVets" class="col">
      <div class="card" style="margin-bottom:16px;">
          <div class="card-body" style="padding: 16px; background-color: aliceblue;">
              <div style=" justify-content: flex-start; align-items: center; display: inline-flex; gap: 16px;">
                  <img style="width: 100px; height: 100px; border-radius: 9999px" src={{items.url}} />
                  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start;gap: 16px; display: inline-flex">
                    <div><span style="color: #101828; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">{{items.name}}<br/></span><span style="color: #475467; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{items.title}}</span></div>
                    <div style="color: #475467; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Mobile : <span style="font-size: 16px; font-family: Inter; font-weight: 600;color: #101828;">+{{items.number}} </span> </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>

