<div class="profBox" style="border: 2px solid beige; border-radius: 10px; ">
    <div class="hugg">
        <div>
            <h4>Account Details</h4>  <button class="btn btn-danger" style="margin-left: 95%;"> Edit </button>
            <br>
            <small style="color: #667085;">Manage your account details here. </small>
        </div>
    </div>
    <hr style="height: 2px; width: 73%;">
    <div class="hugg2 ">
        <table class="table" style="width: 80%;">
              <tr>
                <td scope="col" style="width: 30%;"><img src="assets/images/Ellipse 1.svg"></td>
                <td scope="col" style="width: 400px;">
                    <div>
                        Name&nbsp;&nbsp;:&nbsp;&nbsp;  <strong>Dr. John Doe </strong><br><br>
                        NPI No&nbsp;&nbsp;: &nbsp;&nbsp; <strong>  659862111 </strong><br><br>
                        Speciality&nbsp;&nbsp;  :  &nbsp;&nbsp;<strong>  NAVLE </strong><br><br>
                    </div>
                </td>
                <td scope="col" style="width: 400px;">
                    <div>
                        Mobile&nbsp;&nbsp;:&nbsp;&nbsp;<strong> +41 2121344 </strong><br><br>
                        Email&nbsp;&nbsp;: &nbsp;&nbsp; <strong>  Johndoe&#64;gmail.com </strong><br><br>
                        Clinic&nbsp;&nbsp;  :  &nbsp;&nbsp;<strong style="word-wrap: break-word;">  St. John's Clinic, Utah US </strong><br><br>
                    </div>
                </td>
              </tr>
        </table>
    </div>
</div>

